* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color:  #121212;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
    background-color: black;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	color: #BA3E09;
	font-size: 40px;
}

header nav a {
	color: #FFF;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

.container{
    background-color:  #121212;

}
.Nombre{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
}

main{
background-color:  #121212;
}
.logo {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: calc(49% - 50px);
  }

  .info{
      text-align: center;
      margin-left: 25%;
      margin-right: 25%;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      color: white;
  }

  .lema{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color: white;
  }
  @media screen and (max-device-width : 480px) {

    #sidebar{
        display:none;
        }

            #menu{
           text-align:center;
           }
}

.info1{
    font-weight: bold;
}

.pasatiempo1{
    margin-left: 3.5%;
    margin-top: 20px;
}
.tiempo1{
    width: 200px;
    height: 400px;
    color: black;
    margin-top: 50px;
    left: 13%;
    position: absolute  ;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.tiempo2{
    width: 200px;
    height: 400px;
    color: black;
    margin-top: 5px;
    left: 43%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
    text-align:  center;
}

.tiempo3{
    width: 200px;
    height: 400px;
    color: black;
    margin-top: 5px;
    left: 73%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.tiempo1:hover {
    background-color: #1717FF;
    color: white;
    cursor: pointer;
    zoom: 110%;
  }

.tiempo2:hover {
    background-color: #1717FF;
    color: white;
    cursor: pointer;
    zoom: 110%;
  }
.tiempo3:hover {
    background-color: #1717FF;
    color: white;
    cursor: pointer;
    zoom: 110%;
  }

.contacto{
    padding-top: 30%;
    margin-left: 15%;
}

.correo{
    width: 30%;
    margin-left: 15%;
    top: 80%;
    -webkit-box-shadow: 10px 2px 14px 0px rgba(50, 50, 50, 0.52);
-moz-box-shadow:    10px 2px 14px 0px rgba(50, 50, 50, 0.52);
box-shadow:         10px 2px 14px 0px rgba(50, 50, 50, 0.52);
}

button{
    text-decoration: none;
    background-color: black;
    width: 150px;
    color: white;
}

button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
 
.final{
    background-color: black;
    height: 50%;
    margin-top: 40%;
}

a{
    text-decoration: none;
    color: white;
}

.instagram {
    width: 30px;
    height: 30px;
    margin-left: 90%;
    margin-top: 1%;
    object-position: right;
} 

.twitter {
    width: 30px;
    height: 30px;
    margin-left: 90%;
    margin-top: 1%;
    object-position: right;
}

.facebook {
    width: 30px;
    height: 30px;
    margin-left: 90%;
    margin-top: 1%;
    object-position: right;
}

.oscuro{
    width: 30px;
    height: 30px;
}

.rounded-lg{
    border-radius: .5rem;
}

.copyright{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 84%;
    margin-top: 38%;
    position: absolute;
}
.logo:hover{
    cursor: pointer;
    zoom: 105%;
  }

.logotipo:hover{
    cursor: pointer;
    zoom: 103%;
    color: red;
}
.nosotros1:hover{
    cursor: pointer;
    zoom: 105%;
}

.home:hover{
    cursor: pointer;
    zoom: 105%;
    position: relative;
}
.contacto1:hover{
    cursor: pointer;
    zoom: 105%;
    position: relative;
}

.oscuro:hover{
    cursor: pointer;
    zoom: 105%;
    position: relative;
}

.instagram:hover{
    cursor: pointer;
    zoom: 108%;
}

.facebook:hover{
    cursor: pointer;
    zoom: 108%;
}

.twitter:hover{
    cursor: pointer;
    zoom: 108%;
}

/* Smartphones (horizontal) ----------- */
@media only screen and (min-width : 321px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* Smartphones (vertical) ----------- */
    @media only screen and (max-width : 320px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* iPads (horizontal) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* iPads (vertical) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    /* Ordenadores de escritorio y portátiles ----------- */
    @media only screen  and (min-width : 1224px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* Pantallas grandes ----------- */
    @media only screen  and (min-width : 1824px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* iPhone 6 ----------- */
    @media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* iPhone 6+ ----------- */
    @media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
    }
    
    @media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

.lema:hover{
    cursor: pointer;
    zoom: 110%;
    font-weight: bold;
}
.inglés{
    color: black;
    height: 30px;
    width: 40px;
    margin-top: 0.5%;
    margin-left: 103%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.inglés:hover{
    color: blue;
    zoom: 105%;
    cursor: pointer;
}

.Español{
    color: black;
    height: 30px;
    width: 40px;
    margin-top: 0.5%;
    margin-left: 103%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    position: relative;
}

.Español:hover{
    color: blue;
    zoom: 108%;
    cursor: pointer;
}