* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
    background-color: black;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	color: #BA3E09;
	font-size: 40px;
}

header nav a {
	color: #FFF;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

.container{
    background-color: white;

}
.Nombre{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
}

main{
background-color: white;
}
.logo {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: calc(49% - 50px);
  }

  .info{
      text-align: center;
      margin-left: 25%;
      margin-right: 25%;
      font-family: 'Times New Roman', Times, serif;
  }

  .lema{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
  }
  @media screen and (max-device-width : 480px) {

    #sidebar{
        display:none;
        }

            #menu{
           text-align:center;
           }
}

.info1{
    font-weight: bold;
}

.pasatiempo1{
    margin-left: 3.5%;
    margin-top: 20px;
}
.tiempo1{
    width: 200px;
    height: 400px;
    color: black;
    top: 70%;
    left: 13%;
    position: absolute  ;
    background-color: white;
    opacity: 0.9;
    border-radius: 6%;
    background-position: center;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.tiempo2{
    width: 200px;
    height: 400px;
    color: black;
    top: 70%;
    left: 43%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
    text-align:  center;
}

.tiempo3{
    width: 200px;
    height: 400px;
    color: black;
    top: 70%;
    left: 73%;
    position: absolute;
    opacity: 0.9;
    border-radius: 6%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 1);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.tiempo1:hover {
    background-image: url(../img/logo2.0.png);
    color: white;
    cursor: pointer;
    zoom: 110%;
  }

.tiempo2:hover {
    background-image: url(../img/logo3.gif);
    color: white;
    cursor: pointer;
    zoom: 110%;
    background-position: center;
  }
.tiempo3:hover {
    background-image: url(../img/logo4.gif);
    color: white;
    cursor: pointer;
    zoom: 110%;
    background-position: center;
  }

.contacto{
    padding-top: 30%;
    margin-left: 15%;
}

.correo{
    width: 30%;
    margin-left: 15%;
    top: 80%;
    -webkit-box-shadow: 10px 2px 14px 0px rgba(50, 50, 50, 0.52);
-moz-box-shadow:    10px 2px 14px 0px rgba(50, 50, 50, 0.52);
box-shadow:         10px 2px 14px 0px rgba(50, 50, 50, 0.52);
}

button{
    text-decoration: none;
    background-color: black;
    width: 150px;
    color: white;
}

button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
 
.final{
    background-color: black;
    height: 50%;
}

a{
    text-decoration: none;
    color: white;
}

.instagram {
    width: 30px;
    height: 30px;
    margin-left: 80%;
    margin-top: 1%;
    object-position: right;
} 

.twitter {
    width: 30px;
    height: 30px;
    margin-left: 80%;
    margin-top: 1%;
    object-position: right;
}

.facebook {
    width: 30px;
    height: 30px;
    margin-left: 80%;
    margin-top: 1%;
    object-position: right;
}

.oscuro{
    width: 30px;
    height: 30px;
}

.rounded-lg{
    border-radius: .5rem;
}

.copyright{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 70%;
}
.logo:hover{
    cursor: pointer;
    zoom: 105%;
  }

.logotipo:hover{
    cursor: pointer;
    zoom: 103%;
    color: red;
}
.nosotros1:hover{
    cursor: pointer;
    zoom: 105%;
}

.home:hover{
    cursor: pointer;
    zoom: 105%;
    position: relative;
}
.contacto1:hover{
    cursor: pointer;
    zoom: 105%;
    position: relative;
}

.oscuro:hover{
    cursor: pointer;
    zoom: 105%;
    position: relative;
}
